body {
    background-color: whitesmoke;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

div.home-section {
    text-align: center;
}

ul.myul {
    display: inline-block;
    text-align: left;
}

a img {
    height: 385px;
}

